  <div >
    <h1 mat-dialog-title>Wellcome to the APP Commits</h1>
    <div mat-dialog-content>This table, which displays commit information, invokes a backend method called getCommits.<br>
    This method, in turn, triggers a request to the GitHub API through its corresponding service.<br>
    In the last column, there is a button that allows you to open the link to the commit on GitHub.<br>
 </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
    </div>
  </div>
